main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

@font-face { font-family: Nunito; src: url('Nunito-Regular.ttf'); } 
@font-face { font-family: League Spartan; src: url('LeagueSpartan-Bold.otf'); } 
@font-face { font-family: Open Sans Light; src: url('OpenSans-Light.ttf'); } 
h1 {
  font-family: League Spartan;
  font-size: 40px;
  font-weight: normal;
  margin-left: 10%;
  margin-top: 5%;
  color: #548377;
  
}

h2 {
  font-family: League Spartan;
  font-size: 30px;
  font-weight: normal;
  color: #548377;
}

h3 {
  font-family: Nunito;
  font-weight: bold;
}

p {
  font-family: Open Sans Light;
}

.bg {
  /* The image used */
  background-image: url("background.svg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container{
  height: 80%;
  width: 80%;
  margin: auto;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.titles{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 5px;
}

#pantry{
  border-radius: 20px 20px 0px 0px;
  display: flex;
  height: 60px;
  margin-right: 5vw;
  justify-content: space-between;
  background-color:#548377;
}

.table-header {
  margin-left: 3%;
  margin-top: 7px;
  color: white;
}

.table-date {
  margin-top: 7px;
    color: white;
}

.images{
  width: 50px;
  height: 50px;
  margin: 2%;
  border-radius: 25px;
}

.img-name{
  display: flex;
  width: 50%;
}

.name-text{
  font-size: 14px;
  margin-left: 5px;
}

.exp-bar{
  width: 40%;
  margin-left: 40px;
}

.exp-text{
  font-size: 14px;
  margin-left: 10px;
}

.trashcan{
  width: 15px;
  margin: 5%;
}

.food-box{
  position: relative;
  height: 65vh;
  border-radius: 20px;
  margin-top: -20px;
  margin-right: 5vw;
  background-color: #e1e2e1;
}

.food-box-individual{
  display: flex;
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  background-color: #f5f5f6;
}

.emf-text{
  margin-top: 85px;
}

#eat-me-first{
  height: 35vh;
  width: 20vw;
  border-radius: 20px;
  margin-top: -20px;
  background-color: #e1e2e1;
}

#recipes{
  border-radius: 20px 20px 0px 0px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  background-color:#548377;
}

#recipes-box{
  height: 65vh;
  border-radius: 20px;
  margin-top: -20px;
  background-color: pink;
}

.food-card{
  background: red;
}


/* pantry input */

.input-container{
  position: relative;
  bottom: 0px;
}