main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  src: url("Nunito-Regular.ttf");
}
@font-face {
  font-family: League Spartan;
  src: url("LeagueSpartan-Bold.otf");
}
@font-face {
  font-family: Open Sans Light;
  src: url("OpenSans-Light.ttf");
}
h1 {
  font-family: League Spartan;
  font-size: 40px;
  font-weight: normal;
  color: #548377;
}
h2 {
  font-family: League Spartan;
  font-size: 30px;
  font-weight: normal;
  color: #548377;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}
h3 {
  font-family: Nunito;
  font-weight: bold;
}
h4 {
  font-family: Nunito;
  font-weight: bold;
  color: #548377;
}
p {
  font-family: Open Sans Light;
}

button {
  font-family: Nunito;
  font-weight: bold;
}
body {
  /* height: 100vh; */
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.app {
  /* The image used */
  /* background-image: url("background.svg"); */

  /* Full height */
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app h1 {
  align-self: center;
}

.app hr {
  border-style: solid;
  border-width: 4px;
  width: 20%;
  align-self: center;
  margin-top: 15px;
  color: #548377;
}

.can-img {
  width: 15px;
}

#container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.pantry-section,
.eat-me-first-section,
.recipe-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

#pantry {
  border-radius: 10px;
  display: flex;
  background-color: #548377;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.food-box {
  display: flex;
  flex-direction: column;
  height: 45vh;
  border-radius: 20px;
  width: 100%;
  overflow-y: scroll;
  background-color: #e1e2e1;
  padding: 10px;
  gap: 10px;
}

.table-header {
  color: white;
}

.table-date {
  color: white;
}

.expire-food-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  /* background-color: #f5f5f6; */
  border-radius: 20px;
  width: 100%;
}

.images {
  width: 10%;
  object-fit: cover;
  border-radius: 10px;
}

.name-text {
  white-space: nowrap;
  font-size: 14px;
}

.exp-text {
  font-size: 14px;
  white-space: nowrap;
}

.trashcan {
  width: 15px;
}

.food-box-individual {
  display: flex;
  border-radius: 20px;
  background-color: #f5f5f6;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 10px;
}
#eat-me-first {
  height: 45vh;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  background-color: #e1e2e1;
  overflow-y: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#eat-me-first .exp-text {
  white-space: nowrap;
}
#recipes {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

#recipes-box {
  overflow-y: scroll;
  width: 100%;
  height: 45vh;
  border-radius: 20px;
  background-color: #e1e2e1;
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

#recipes-box .food-box-individual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

#recipes-box .food-box-individual img{
  width: 100px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}

#input-system {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  gap: 10px;
}
/* pantry input */

.input-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.item-input {
  flex: 1;
  height: 30px;
  border-radius: 10px;
  outline: none;
  font-family: Open Sans Light;
  font-size: 14px;
  padding: 8px;
}
.date-input {
  flex: 1;
  height: 30px;
  border-radius: 10px;
  outline: none;
  padding: 8px;
  font-family: Open Sans Light;
  font-size: 14px;
}
.add-btn {
  flex: 1;
  width: 100px;
  border-radius: 15px;
  padding: 15px;
  background: #548377;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20;
}

.add-btn:hover {
  opacity: 0.8;
}
.add-btn:active {
  opacity: 0.4;
}
/* food select buttons */
.food-btn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.food-btn-section button {
  border-radius: 10px;
  border: 1px solid #548377;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-btn {
  width: 35px;
  padding: 3px;
  border: none;
}

/* recipe btns */
.recipe-section-btns {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.recipe-btn {
  flex: 1;
  border-radius: 15px;
  padding: 15px;
  background: #548377;
  border: none;
  color: white;
  cursor: pointer;
}

.recipe-btn:hover {
  opacity: 0.8;
}

.recipe-subheading {
  color: white;
  align-self: center;
  padding: 10px;
  background-color: #548377;
  border-radius: 10px;
}

.delete-btn {
  display: flex;
  border-radius: 10px;
  padding: 5px 10px;
  background: #548377;
  border: none;
  color: white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.delete-btn:hover {
  opacity: 0.8;
}

#recipes-box .images {
  width: 110px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
}
#recipes-box .name-text {
  color: #324440;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
  width: 100%;
}
.recipe-link-btn {
  white-space: nowrap;
  margin-right: 3%;
  border-radius: 15px;
  padding: 8px 25px;
  margin-top: 6%;
  background: #548377;
  border: none;
  color: white;
  cursor: pointer;
}

.recipe-link-btn:hover {
  opacity: 0.8;
}

.error-message {
  margin: 0px;
}
